@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.inter-webfont{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
  }
/* nav bar styles */

.navdiv{

}