@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.inter-webfont{
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    color: #9D999A;
  }
.uni-pera{
  line-height: 25pt;
}

/* nav bar styles */
.navbar{
  background-color: #FCEEF1;
}
.navdiv{
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width: 100px;
  height: 40px;
}
nav>div{
  display: flex;
  flex-direction: row;
  padding: 15px 0;
}
nav ul{
  display: flex;
  align-items: center;
  gap: 25px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #E55473;
}
.btn-pri{
  padding: 10px 25px;
  background-color: #E55473;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
}
.contact-btn{
  color: white;
  font-family: "lato", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
}
/* navbar style ends */

/* Head Section style starts */
.head-section{
  background-color: #FCEEF1;
  padding-top: 100px;
}
.head-div{
  display: flex;
  width: 60%;
  margin: 0 auto;
}
.head-s-div-1{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto 0;
  gap: 30px;
  padding-bottom: 100px;
}
.head-s-div-2{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.head-img{
  /* width: 500px;
  height: 600px; */
  max-width: 100%;
  height: auto;
}
.main-heading{
  color: #272727;
  font-size: 60px;
  font-weight: 900;
}
/* Head Section style Ends */

.main-div{
  padding: 100px 0;
  width: 60%;
  margin: 0 auto;
}
.head-sec{
  font-size: 40px;
  font-weight: 600px;
  color: #272727;
}

/* featured section styles starts */
.head-pera{
  padding: 50px 0;
  text-align: center;
}
.image-container{
  display: flex;
  gap: 15px;
}
.fea-img{
  max-width: 100%;
  height: auto;
}
.card-p{
  background-color: #fceef1bd;
}
.card-b{
  background-color: rgba(193, 241, 255, 0.37);
}
.card-y{
  background-color: rgba(255, 255, 207, 0.678);
}
.card-p, .card-b, .card-y{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 50% 50% 0 0;
  padding: 35px 35px 0px 35px;
}
.card-text{
  display: flex;
  text-decoration: underline;
  color: #272727;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 15px 0;
  justify-content: center;
}